  body{
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(./Images/library-g210856843_1920.jpg);
    background-position: center;
    background-size: cover;
   
  }
  
  .wrapper {
    height: 530px;
    width: 360px;
    color: white;
    /* background: rgb(0, 0, 0 , .7); */
    background-image: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(./Images/robo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    padding: 1.2rem;
    margin: 35px auto auto auto;
    box-shadow: 6px 6px 8px rgb(0, 0, 0 ) , -6px -6px 8px rgb(5, 5, 5) , 2px 2px 3px rgb(255, 255, 255)  inset , -2px -2px 3px rgb(255, 255, 255) inset;
    /* box-shadow:  */  
    border: 3px solid white;
  }
  .heading1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-shadow: 1px 1px 4px black , -1px -1px 2px white;

  }
  
  #topContainer {
    margin-top: 2.5rem;
  }
  
  .container {
    margin-top: 1.4rem;
  }
  
  .title {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .titleBottom{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    margin-bottom: 0.1rem;
    text-align: center;
  }
  .titleBottom1{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
    text-align: center;
  }
  
  .inputContainer {
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 2px rgb(0, 0, 0) inset, -1px -1px 2px rgb(0, 0, 0) inset;
    color: black;
    border-radius: 1.4rem;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid rgb(0, 0, 0);
   
  }
  
  #billTotalInput,
  #tipInput {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    height: 35px;
    background: none;
    border: none;
    outline: none;
    padding: none;
  }
  .buttonContainerIncrement {
    background: #ffffff;
    display: grid;
    place-items: center;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0 99% 99% 0;
    box-shadow: -3px -3px 4px black  , 3px 3px 4px black;

  }
  
  .buttonContainerDecrement {
    background: #ffffff;
    display: grid;
    place-items: center;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 90% 0 0 90%;
    box-shadow: -3px -3px 4px black  , 3px 3px 4px black;
  }
 
  .splitButton {
    background: none;
    border: none;
    
  }
  .splitButton:hover{
    cursor: pointer;
  }
  
  .controls {
    display: flex;
    align-items: center;
  }

  
  .splitButton {
    font-size: 0.8rem;
    font-weight: bold;
    display: grid;
    place-items: center;
  }
  
  .buttonText {
    color: #000000 !important;
    font-weight: bolder;
  }
  
  .splitAmount {    
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    margin: 0.8rem;
  }
  
  #bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .totalContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .totalContainer1{
    margin-top: 0.6rem;
    text-align: center;
    flex-direction: column;
    align-items: end;
  }
  
 
  #perPersonTotal{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    
  }
  #totalBillAmount{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
  }
  #finish{
    background-color: white;
    color: black;
    margin-top: 5%;
    margin-left: 38%;
    height: 2.2rem;
    width:  5.3rem;
    border-radius: 30px;
    box-shadow: -2px -2px 4px black  , 2px 2px 4px black;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;

  }
  #finish:hover{
    cursor: pointer;
  }
  